.contact {
    padding: 2em 1em 0.5em 1em;
}

.contact-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

.contact-link {
    font-size: 3.5em;
    color: var(--lightgray);
}