.header {
    background-color: var(--white);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.header-container {
    padding: 1.5em 0;
}

.header-logo {
    font-size: 1.3em;
    color: var(--black);
    padding-right: 1em;
}

.header-menu--btn {
    padding: 1em;
    color: var(--black);
    font-size: 1.5em;
}