.swiper {
    width: 90%;
    height: 30vh;
}

.swiper-slide {
    background-color: var(--greenhsl);
}

.swiper-wrapper:nth-child(2) {
    background-color: aquamarine;
}

#banner1 {background-color: rgb(120, 156, 126);}
#banner2 {background-color: rgb(155, 6, 255);}
#banner3 {background-color: rgb(240, 179, 110);}